<div class= "wrapper">
    <div class= "content">

        <div class="newpostlink">
            <%= link_to  "New Post", new_post_path, class: "btn btn-primary" %>
        </div>
        <%= render @posts %>
    </div>

    <%= link_to  "New Post", new_post_path, class: "btn btn-primary" %>

</div>
