// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin-top: 60px;
}
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

body p {
  font-size: 16;
}

#heading {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;

}

.wrapper {
  margin-top: 20px;
  background-color: #FBF3F3;
  height: auto;
  width: 80%;
  margin-left: 100px;
}

inner {
  padding-top: 20px;
  margin-bottom: 20px;
}

.title {
  background-color: #009CAD;
  color: #FFF;
  padding: 1px;
  border: 2px solid #000;
  width: 80%;
  text-align: center;
  a:visited{
	  color: inherit;
  }
}

.entries {
  background-color: white;
  padding: 20px;
  width: 80%;
  border-style: solid;
  border-color: black;
  border-width: medium;
  margin-bottom: 15px;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 70%;
  margin-left: 200px;
  margin-bottom: 30px;
}

#comment {
	background-color: #f7fbfd;
	border: thin solid #cbe7f0;
	padding: 3px;
	margin-bottom: 15px;
}

h2 {
	font-family: monaco,Consolas,Lucida Console,monospace;
	color: white;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	color: black;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
